blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0; color:#333;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
ol,ul{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none}
html{overflow-y:scroll;}
.main .header{border-bottom:2px solid #f38a50;}
.main .header .headers{ width:980px; margin:0 auto; overflow:hidden;}
.main .header .headersL{ float:left; padding:20px 0px 15px 15px; overflow:hidden;}
.main .header .headersL h2{ float:left; overflow:hidden; width:154px; height:41px; margin-right:14px; }
.main .header .headersL .Cas{ float:left; width:130px; text-align:center; height:40px;  margin-top:-2px;}
.main .header .headersL .Cas p{ font-family:"微软雅黑"; font-size:20px; font-weight:600; color:#333;}
.main .header .headersL .Cas a{ color:#333;}
.main .header .headersR{ float:right;}
.main .header .headersR ul{ overflow:hidden; padding-top:55px; padding-right:14px;}
.main .header .headersR ul li{ float:left; margin-right:6px;}
.main .header .headersR ul li a{ color:#005194;}

.main .content{ width:980px; margin:0 auto; padding-top:10px;}
.main .cont{border:1px solid #e5ecf1; padding:15px 0px 0px 40px; overflow:hidden;background:#f2f7fc;}
.main .cont .contL,.main .cont .contR{ float:left;}
.main .cont .contL{ margin-right:30px;}
.main .cont p{ font-size:14px; line-height:24px; color:#333;}
.main .cont p a{ font-size:30px; color:#f38a50;}
.main .conts h3{font-family:"微软雅黑"; font-size:16px;  height:26px; line-height:26px; margin:8px 0px 10px; border-left:3px solid #f38a50; padding-left:14px;}
.main .conts .change{ border:1px solid #e5ecf1; }
.main .conts .change .changes{ overflow:hidden; height:45px; line-height:45px; background:#f2f7fc; border-bottom:1px solid #e5ecf1;}
.main .conts .change ul li{ float:left; width:150px; text-align:center; font-size:16px; cursor:pointer;}
.main .conts .change ul .current{ height:47px; background:#fff; border-top:3px solid #f38a50; border-bottom:1px solid #fff; border-left:1px solid #e5ecf1; border-right:1px solid #e5ecf1;}

.main .conts .change  .li00{ padding:25px 0px 30px 0px; overflow:hidden;}
.main .conts .change  .li00 p{ font-size:14px; padding-left:45px;}
.main .conts .change  .li00 p span{ font-size:12px;}
.main .conts .change  .li00 ul{ overflow:hidden; padding-top:15px; padding-left:20px;}
.main .conts .change  .li00 ul li{ float:left; width:176px; height:44px; line-height:44px; border:1px solid #e8e8e8; margin-bottom:10px; margin-right:10px; cursor:pointer;}
.main .conts .change  .li00 ul li input{ display:inline-block; vertical-align:middle;margin-right:-5px;}
.main .conts .change  .li00 ul li label{ display:inline-block; vertical-align:middle;}
.main .conts .change  .li00 .bankBill,.main .conts .change  .li01 .bankBills{ display:none; margin-left:20px; margin-top:10px; border:1px solid #999;}
.main .conts .change  .li00 .que,.main .conts .change  .li01 .ques{ display:block; font-size:16px; width:120px; height:35px; text-align:center; line-height:35px; color:#fff; background:#e6793e; margin-left:20px; margin-top:10px; border-radius:2px;}
.main .content .contP{border-top:1px solid #e5ecf1; padding:20px 0px 30px 0px;}
.main .content .contP .top{ font-size:14px; font-weight:bold;  }
.main .content .contP .tops{   color:#666;}
.main .content .contP .topw{  color:#989898;}


.bots{width:100%; margin-top:20px; background:#f3f3f3;text-align:center;position:fixed;bottom:0px;}
.address{width:90%; padding:20px 30px 0px; margin:0 auto;text-align:center;}
.address .addsL{text-align:center;}
.address .addsL .addsPic{ margin-top:10px;text-align:center;}