<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<filter>
		<filter-name>jwebFilter</filter-name>
		<filter-class>com.jweb.servlet.JWebFilter</filter-class>
		<init-param>
			<param-name>defaultencoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jwebFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.jweb.servlet.AllTaskStartListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jweb.servlet.SessionListener</listener-class>
	</listener>
	<servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>ServletConfigurator</servlet-name>
		<servlet-class>
			org.logicalcobwebs.proxool.configuration.ServletConfigurator
		</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SysLoginServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysLoginMobileMsgServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysLoginMobileMsgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>com.jweb.servlet.MenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>com.jweb.servlet.ActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysUserManagerServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysUserManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysUserAddServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysUserAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysActionManagerServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysActionManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysActionAddServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysActionAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysActionModifyServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysActionModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysActionRemoveServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysActionRemoveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysRoleManagerServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysRoleManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysRoleAddServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysRoleAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysRoleCheckActionListServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysRoleCheckActionListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysExitServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysExitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysPasswordModifyServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysPasswordModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysUserRemoveServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysUserRemoveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysUserSetStateServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysUserSetStateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysUserModifyServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysUserModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysRoleRemoveServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysRoleRemoveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysRoleAddActionServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysRoleAddActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysParameterManagerServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysParameterManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysRoleComboboxServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysRoleComboboxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysUserThemeUpdateServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysUserThemeUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SysBlogManagerServlet</servlet-name>
		<servlet-class>com.jweb.servlet.SysBlogManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>*.htm</url-pattern>
     </servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysLoginServlet</servlet-name>
		<url-pattern>/login.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysLoginMobileMsgServlet</servlet-name>
		<url-pattern>/sysLoginMobileMsg.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/menu.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/action.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysUserManagerServlet</servlet-name>
		<url-pattern>/sysUserManager.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysUserAddServlet</servlet-name>
		<url-pattern>/sysUserAdd.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysActionManagerServlet</servlet-name>
		<url-pattern>/sysActionManager.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysActionAddServlet</servlet-name>
		<url-pattern>/sysActionAdd.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysActionModifyServlet</servlet-name>
		<url-pattern>/sysActionModify.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysActionRemoveServlet</servlet-name>
		<url-pattern>/sysActionRemove.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysRoleManagerServlet</servlet-name>
		<url-pattern>/sysRoleManager.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysRoleAddServlet</servlet-name>
		<url-pattern>/sysRoleAdd.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysRoleCheckActionListServlet</servlet-name>
		<url-pattern>/sysRoleCheckActionList.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysExitServlet</servlet-name>
		<url-pattern>/sysExit.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysPasswordModifyServlet</servlet-name>
		<url-pattern>/sysPasswordModify.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysUserRemoveServlet</servlet-name>
		<url-pattern>/sysUserRemove.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysUserSetStateServlet</servlet-name>
		<url-pattern>/sysUserSetState.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysUserModifyServlet</servlet-name>
		<url-pattern>/sysUserModify.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysRoleRemoveServlet</servlet-name>
		<url-pattern>/sysRoleRemove.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysRoleAddActionServlet</servlet-name>
		<url-pattern>/sysRoleAddAction.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysParameterManagerServlet</servlet-name>
		<url-pattern>/sysParameterManager.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysRoleComboboxServlet</servlet-name>
		<url-pattern>/sysRoleCombobox.htm</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>SysUserThemeUpdateServlet</servlet-name>
		<url-pattern>/sysUserThemeUpdate.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SysBlogManagerServlet</servlet-name>
		<url-pattern>/sysBlogManager.htm</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>jsp/jweb/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>

